<div class="answer">
  <p><%= link_to "Back", :back %></p>
  <h3><%= @author.name %></h3>
    <div class="photo"><%= image_tag @photo %></div>
  <div class="answer-body">
    <p><%= @author.bio %></p>
  </div>
  <p>&nbsp;</p>
  <h3>Selected Works</h3>
  <div class="works-list">
    <ul>
    <% @author.works.each do |work| %>
      <li><a name="<%= "work-#{work.id}" %>"><%= work.title %></a></li>
    <% end %>
    </ul>
  </div>
</div>
