<div class="answer">
  <p><%= link_to "Back", :back %></p>
  <h3><%= @author.name %></h3>
    <div class="photo"><%= image_tag @photo %></div>
  <div class="answer-body">
    <p><%= @author.bio %></p>
  </div>
  <p>&nbsp;</p>
  <h3>Selected Works</h3>
  <div class="works-list">
    <% @author.works.each do |work| %>
    <div class="work">
      <h4><a name="<%= "work-#{work.id}" %>"><%= work.title %></a>&nbsp;
        <%= work.year.nil? ? "" : "(#{work.year})" %></h4>
        <% unless work.editor.strip.empty? %>
        <p><%= "Ed. #{work.editor}" %></p>
        <% end %>
        <% unless work.translator.strip.empty? %>
        <p><%= "Trans. #{work.translator}" %></p>
        <% end %>
        <p><%= link_to "Project Gutenberg Ebook", work.source %></p>
        <hr />
    </div>
    <% end %>
  </div>
</div>
