<form action="" method="get">
  <p>
  <%= label_tag :question, "Ask a Question" %>
  <%= text_field_tag :question, params[:question] %>
  <%= submit_tag "Englighten Me", :name => nil %>
  </p>
</form>
<% if !@ci.errors.empty? %>
  <b><%= @ci.errors[:question] %></b>
<% end %>
<% if @ci.valid? && @ci.chunks.empty? %>
  <b>I do not know.</b>
<% end %>
<p>&nbsp;</p>
<% @ci.chunks.each do |chunk| %>
  <div class="answer">
    <div class="answer-body"><%= chunk.answer.html_safe %></div>
    <div class="answer-citation"><%= chunk.display_title %></div>
  </div>
<% end %>
