<form action="" method="get">
  <p>
  <%= label_tag :question, "Ask a Question" %>
  <%= text_field_tag :question, params[:question], :size => 50 %>
  <%= submit_tag "Englighten Me", :name => nil %>
  </p>
</form>
<% if !@ci.errors.empty? %>
  <div class="answer">
    <div class="photo">
      <%= link_to image_tag(@photo), bio_url(@author.slug) %>
      <p><%= link_to @author.display_name, bio_url(@author.slug) %></p>
    </div>
    <div class="answer-body">
      <p><strong><%= @ci.errors[:question] %></strong></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
<% end %>
<% if @ci.valid? && @ci.chunks.empty? %>
  <div class="answer">
    <div class="photo">
      <%= link_to image_tag(@photo), bio_url(@author.slug) %>
      <p><%= link_to @author.display_name, bio_url(@author.slug) %></p>
    </div>
    <div class="answer-body">
      <p><strong>I do not know.</strong></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
<% end %>
<% @ci.chunks.each do |chunk| %>
  <div class="answer">
    <div class="photo">
      <%= link_to image_tag(@photo), bio_url(@author.slug) %>
      <p><%= link_to @author.display_name, bio_url(@author.slug) %></p>
      <p>&nbsp;</p>
    </div>
    <div class="answer-body">
      <%= formatted_answer(chunk.answer.html_safe) %>
      <div class="answer-citation">
        <%= link_to chunk.display_title, 
              bio_url(@author.slug, :anchor => "work-#{chunk.work.id}") %>
      </div>
      <ul
        <li>
          <%= link_to "Link", 
          index_url(:slug => @author.slug, 
                    :question => params[:question], 
                    :chunk => chunk) %>
        </li>
        <li>
          <a href="http://twitter.com/share" 
             class="twitter-share-button" 
             data-url="<%= index_url(:slug => @author.slug, 
                                     :question=> params[:question], 
                                     :chunk => chunk) %>" 
                                     data-count="horizontal">Tweet</a>
          <script type="text/javascript" 
                  src="http://platform.twitter.com/widgets.js"></script>
        </li>
      </ul>
    </div>
  </div>
<% end %>
